@import 'styles/_utils';

.cardList {
  section {
    margin: 5rem 0 0;
  }

  &_title {
    text-align: center;
    letter-spacing: 0.3rem;

    h2 {
      font-size: 2.1rem;
    }

    p {
      margin: 0.5rem 0 0;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  li {
    padding: 0 1rem;
    margin: 3rem 0 0;
    
    @include mq(sm) {
      flex-basis: 50%;
    }
  }
}
