.card {
  display: block;
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 100%;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  h3 {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    font-size: 1.8rem;

    > span {
      height: 2.2rem;
      margin: 0 0 0 1rem;
      transform: translateY(-0.2rem);
    }
  }

  p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5;
  }
}
